body{
	margin:0;
}


h1{
	font-size: 65px;
	position:absolute;
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

div{
	margin: 20px;
}

h2{
	font-size: 30px;
	
}

img {
	width:100%;
}

p{
	font-size: 20px;
	line-height: 25px;
}